/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* font-family: 'Black Ops One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
	--primary-color: rgb(115, 27, 182);
	--primary-variant: #ff2d2d;
	--secondary-color: #ff2d2d;
	--on-primary: #000;
	--on-background: rgba(255, 255, 255, 0.9);
	--on-background-alt: rgba(66, 66, 66, 0.7);
	--background: rgb(255, 255, 255);
	--box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
	--primary-color: rgb(254, 254, 254);
	--primary-variant: #6c63ff;
	--secondary-color: rgb(115, 27, 182);
	--on-primary: rgb(250, 250, 250);
	--on-background: rgba(25, 24, 24, 0.9);
	--on-background-alt: rgba(255, 255, 255, 0.7);
	--background: #121212;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Oswald", sans-serif;
	background-size: cover;
	background-position: center;
	background-color: var(--on-background);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 0.35)'%3e%3c/rect%3e%3cpath d='M20.51 -62.63L85.46 -25.13L85.46 49.87L20.51 87.37L-44.44 49.87L-44.44 -25.13zM85.46 274.87L150.42 312.37L150.42 387.37L85.46 424.87L20.51 387.37L20.51 312.37zM85.46 499.87L150.42 537.37L150.42 612.37L85.46 649.87L20.51 612.37L20.51 537.37zM150.42 -62.63L215.37 -25.13L215.37 49.87L150.42 87.37L85.46 49.87L85.46 -25.13zM150.42 387.37L215.37 424.87L215.37 499.87L150.42 537.37L85.46 499.87L85.46 424.87zM345.28 49.87L410.23 87.37L410.23 162.37L345.28 199.87L280.32 162.37L280.32 87.37zM345.28 274.87L410.23 312.37L410.23 387.37L345.28 424.87L280.32 387.37L280.32 312.37zM410.23 -62.63L475.19 -25.13L475.19 49.87L410.23 87.37L345.28 49.87L345.28 -25.13zM475.19 49.87L540.14 87.37L540.14 162.37L475.19 199.87L410.23 162.37L410.23 87.37zM410.23 162.37L475.19 199.87L475.19 274.87L410.23 312.37L345.28 274.87L345.28 199.87zM540.14 -62.63L605.09 -25.13L605.09 49.87L540.14 87.37L475.19 49.87L475.19 -25.13zM605.09 49.87L670.05 87.37L670.05 162.37L605.09 199.87L540.14 162.37L540.14 87.37zM540.14 162.37L605.09 199.87L605.09 274.87L540.14 312.37L475.19 274.87L475.19 199.87zM605.09 274.87L670.05 312.37L670.05 387.37L605.09 424.87L540.14 387.37L540.14 312.37zM540.14 387.37L605.09 424.87L605.09 499.87L540.14 537.37L475.19 499.87L475.19 424.87zM670.05 -62.63L735 -25.13L735 49.87L670.05 87.37L605.09 49.87L605.09 -25.13zM735 49.87L799.96 87.37L799.96 162.37L735 199.87L670.05 162.37L670.05 87.37zM670.05 162.37L735 199.87L735 274.87L670.05 312.37L605.09 274.87L605.09 199.87zM735 499.87L799.96 537.37L799.96 612.37L735 649.87L670.05 612.37L670.05 537.37zM864.91 49.87L929.86 87.37L929.86 162.37L864.91 199.87L799.95 162.37L799.95 87.37zM799.95 162.37L864.91 199.87L864.91 274.87L799.95 312.37L735 274.87L735 199.87zM864.91 274.87L929.86 312.37L929.86 387.37L864.91 424.87L799.95 387.37L799.95 312.37zM864.91 499.87L929.86 537.37L929.86 612.37L864.91 649.87L799.95 612.37L799.95 537.37zM929.86 162.37L994.82 199.87L994.82 274.87L929.86 312.37L864.91 274.87L864.91 199.87zM994.82 274.87L1059.77 312.37L1059.77 387.37L994.82 424.87L929.86 387.37L929.86 312.37zM929.86 387.37L994.82 424.87L994.82 499.87L929.86 537.37L864.91 499.87L864.91 424.87zM994.82 499.87L1059.77 537.37L1059.77 612.37L994.82 649.87L929.86 612.37L929.86 537.37zM1059.77 -62.63L1124.72 -25.13L1124.72 49.87L1059.77 87.37L994.82 49.87L994.82 -25.13zM1124.72 49.87L1189.68 87.37L1189.68 162.37L1124.72 199.87L1059.77 162.37L1059.77 87.37zM1059.77 387.37L1124.72 424.87L1124.72 499.87L1059.77 537.37L994.82 499.87L994.82 424.87zM1124.72 499.87L1189.68 537.37L1189.68 612.37L1124.72 649.87L1059.77 612.37L1059.77 537.37zM1189.68 -62.63L1254.63 -25.13L1254.63 49.87L1189.68 87.37L1124.72 49.87L1124.72 -25.13zM1254.63 274.87L1319.58 312.37L1319.58 387.37L1254.63 424.87L1189.68 387.37L1189.68 312.37zM1189.68 387.37L1254.63 424.87L1254.63 499.87L1189.68 537.37L1124.72 499.87L1124.72 424.87zM1254.63 499.87L1319.58 537.37L1319.58 612.37L1254.63 649.87L1189.68 612.37L1189.68 537.37zM1319.59 -62.63L1384.54 -25.13L1384.54 49.87L1319.59 87.37L1254.63 49.87L1254.63 -25.13zM1384.54 274.87L1449.49 312.37L1449.49 387.37L1384.54 424.87L1319.59 387.37L1319.59 312.37zM1514.45 49.87L1579.4 87.37L1579.4 162.37L1514.45 199.87L1449.49 162.37L1449.49 87.37zM1449.49 162.37L1514.45 199.87L1514.45 274.87L1449.49 312.37L1384.54 274.87L1384.54 199.87zM1514.45 499.87L1579.4 537.37L1579.4 612.37L1514.45 649.87L1449.49 612.37L1449.49 537.37z' stroke='rgba(0%2c 0%2c 0%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M13.01 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM77.96 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM77.96 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM13.01 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-51.94 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-51.94 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM77.96 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM142.92 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM142.92 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM77.96 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM13.01 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM13.01 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM77.96 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM142.92 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM142.92 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM77.96 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM13.01 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM13.01 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM142.92 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM207.87 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM207.87 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM142.92 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM207.87 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM207.87 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM337.78 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM402.73 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM402.73 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM337.78 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM272.82 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM272.82 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM337.78 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM402.73 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM402.73 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM337.78 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM272.82 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM272.82 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM402.73 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM467.69 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM467.69 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM337.78 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM532.64 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM532.64 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM467.69 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM467.69 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM532.64 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM597.59 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM597.59 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM597.59 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM597.59 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM532.64 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM597.59 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM532.64 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM597.59 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM532.64 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM467.69 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM467.69 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM727.5 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM727.5 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.46 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.46 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM727.5 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM727.5 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM727.5 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.46 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.46 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM727.5 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM662.55 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM857.41 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM922.36 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM922.36 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM857.41 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.45 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.45 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM857.41 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.45 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM922.36 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM922.36 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM857.41 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.45 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM857.41 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM922.36 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM922.36 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM857.41 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.45 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM792.45 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1117.22 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1117.22 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM987.32 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1117.22 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1052.27 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1117.22 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1117.22 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1117.22 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1247.13 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1247.13 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1247.13 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.08 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.08 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1247.13 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1182.18 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1247.13 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.08 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.08 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1247.13 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.09 -62.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1377.04 -25.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1377.04 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.09 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1377.04 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1441.99 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1441.99 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1377.04 424.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.09 387.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1312.09 312.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1506.95 49.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1571.9 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1571.9 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1506.95 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1441.99 162.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1441.99 87.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1506.95 274.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1377.04 199.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1506.95 499.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1571.9 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1571.9 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1506.95 649.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1441.99 612.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1441.99 537.37 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(0%2c 0%2c 0%2c 0.2)'%3e%3c/path%3e%3cpath d='M4.43 100.84L47.73 125.84L47.73 175.84L4.43 200.84L-38.87 175.84L-38.87 125.84zM4.43 250.84L47.73 275.84L47.73 325.84L4.43 350.84L-38.87 325.84L-38.87 275.84zM4.43 400.84L47.73 425.84L47.73 475.84L4.43 500.84L-38.87 475.84L-38.87 425.84zM134.34 25.84L177.64 50.84L177.64 100.84L134.34 125.84L91.03 100.84L91.03 50.84zM91.03 100.84L134.34 125.84L134.34 175.84L91.03 200.84L47.73 175.84L47.73 125.84zM91.03 250.84L134.34 275.84L134.34 325.84L91.03 350.84L47.73 325.84L47.73 275.84zM220.94 25.84L264.25 50.84L264.25 100.84L220.94 125.84L177.64 100.84L177.64 50.84zM177.64 100.84L220.94 125.84L220.94 175.84L177.64 200.84L134.34 175.84L134.34 125.84zM307.55 175.84L350.85 200.84L350.85 250.84L307.55 275.84L264.25 250.84L264.25 200.84zM307.55 325.84L350.85 350.84L350.85 400.84L307.55 425.84L264.25 400.84L264.25 350.84zM437.46 100.84L480.76 125.84L480.76 175.84L437.46 200.84L394.15 175.84L394.15 125.84zM480.76 325.84L524.06 350.84L524.06 400.84L480.76 425.84L437.46 400.84L437.46 350.84zM524.06 -49.16L567.36 -24.16L567.36 25.84L524.06 50.84L480.76 25.84L480.76 -24.16zM524.06 250.84L567.36 275.84L567.36 325.84L524.06 350.84L480.76 325.84L480.76 275.84zM740.57 325.84L783.88 350.84L783.88 400.84L740.57 425.84L697.27 400.84L697.27 350.84zM740.57 475.84L783.88 500.84L783.88 550.84L740.57 575.84L697.27 550.84L697.27 500.84zM827.18 25.84L870.48 50.84L870.48 100.84L827.18 125.84L783.88 100.84L783.88 50.84zM783.88 100.84L827.18 125.84L827.18 175.84L783.88 200.84L740.57 175.84L740.57 125.84zM870.48 -49.16L913.78 -24.16L913.78 25.84L870.48 50.84L827.18 25.84L827.18 -24.16zM870.48 100.84L913.78 125.84L913.78 175.84L870.48 200.84L827.18 175.84L827.18 125.84zM870.48 250.84L913.78 275.84L913.78 325.84L870.48 350.84L827.18 325.84L827.18 275.84zM913.78 325.84L957.09 350.84L957.09 400.84L913.78 425.84L870.48 400.84L870.48 350.84zM1000.39 25.84L1043.69 50.84L1043.69 100.84L1000.39 125.84L957.09 100.84L957.09 50.84zM957.09 100.84L1000.39 125.84L1000.39 175.84L957.09 200.84L913.78 175.84L913.78 125.84zM957.09 250.84L1000.39 275.84L1000.39 325.84L957.09 350.84L913.78 325.84L913.78 275.84zM1086.99 25.84L1130.3 50.84L1130.3 100.84L1086.99 125.84L1043.69 100.84L1043.69 50.84zM1086.99 175.84L1130.3 200.84L1130.3 250.84L1086.99 275.84L1043.69 250.84L1043.69 200.84zM1043.69 250.84L1086.99 275.84L1086.99 325.84L1043.69 350.84L1000.39 325.84L1000.39 275.84zM1130.3 400.84L1173.6 425.84L1173.6 475.84L1130.3 500.84L1086.99 475.84L1086.99 425.84zM1173.6 475.84L1216.9 500.84L1216.9 550.84L1173.6 575.84L1130.3 550.84L1130.3 500.84zM1260.2 25.84L1303.51 50.84L1303.51 100.84L1260.2 125.84L1216.9 100.84L1216.9 50.84zM1216.9 400.84L1260.2 425.84L1260.2 475.84L1216.9 500.84L1173.6 475.84L1173.6 425.84zM1260.2 475.84L1303.51 500.84L1303.51 550.84L1260.2 575.84L1216.9 550.84L1216.9 500.84zM1303.51 -49.16L1346.81 -24.16L1346.81 25.84L1303.51 50.84L1260.2 25.84L1260.2 -24.16zM1303.51 100.84L1346.81 125.84L1346.81 175.84L1303.51 200.84L1260.2 175.84L1260.2 125.84zM1346.81 325.84L1390.11 350.84L1390.11 400.84L1346.81 425.84L1303.51 400.84L1303.51 350.84zM1390.11 250.84L1433.41 275.84L1433.41 325.84L1390.11 350.84L1346.81 325.84L1346.81 275.84zM1433.41 325.84L1476.72 350.84L1476.72 400.84L1433.41 425.84L1390.11 400.84L1390.11 350.84zM1390.11 400.84L1433.41 425.84L1433.41 475.84L1390.11 500.84L1346.81 475.84L1346.81 425.84zM1433.41 475.84L1476.72 500.84L1476.72 550.84L1433.41 575.84L1390.11 550.84L1390.11 500.84z' stroke='rgba(0%2c 0%2c 0%2c 0.19)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: "Black Ops One", cursive;
	font-size: 100px;
	margin-bottom: 0;
	color: var(--primary-color);
}

h2 {
	font-size: 32px;
	font-weight: normal;
	font-family: "Oswald", sans-serif;
	color: var(--on-primary);
}

/* Navigation */
nav {
	z-index: 10;
	position: fixed;
	font-size: 24px;
	letter-spacing: 3px;
	padding: 25px;
	width: 100vw;
	background: rgb(255, 255, 255);
}

a {
	margin-right: 25px;
	color: var(--primary-color);
	text-decoration: none;
	border-bottom: 3px solid transparent;
	font-weight: bold;
}

a:hover,
a:focus {
	color: var(--on-background);
	border-bottom: 3px solid;
}

/* Home Section */
.title-group {
	text-align: center;
}

/* About Section */
.about-container {
	display: flex;
}

.image-container {
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 10px 20px;
	margin-right: 25px;
	width: auto;
	background: var(--background);
	box-shadow: var(--box-shadow);
}

img {
	height: 300px;
	width: 300px;
}

/* Projects Section */
.buttons {
	margin-top: 15px;
	margin-bottom: 50px;
}

button {
	min-width: 100px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	margin-right: 10px;
	border: 2px solid var(--primary-color);
	font-size: 15px;
	outline: none;
}

button:disabled {
	opacity: 0.4;
	cursor: default;
}

button:hover:not(.outline) {
	filter: brightness(110%);
}

.primary {
	background: var(--primary-color);
	color: var(--on-primary);
}

.secondary {
	border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
	background: var(--secondary-color);
	color: var(--on-primary);
}

.outline {
	background: var(--background);
	color: var(--on-background);
}

.outline:hover {
	background: var(--primary-color);
	color: var(--on-primary);
}

.text-box {
	width: 40%;
	text-align: justify;
	background: rgb(0 0 0 / 50%);
	color: var(--on-primary);
	border-radius: 10px;
	padding: 30px;
}

p {
	margin: 0;
	line-height: 25px;
}

/* Contact Section */
.fab {
	font-size: 100px;
	margin-right: 50px;
	cursor: pointer;
	color: var(--primary-color);
}

.fa-moon {
	color: var(--primary-color);
}

.fab:hover {
	color: var(--on-background);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
	display: flex;
	align-items: center;
	z-index: 100;
	position: fixed;
	right: 25px;
	top: 30px;
}

.theme-switch-wrapper span {
	margin-right: 10px;
	font-size: 1rem;
}

.toggle-text {
	position: relative;
	top: -4px;
	right: 5px;
	color: var(--on-background-alt);
}

.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display: none;
}

.slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider::before {
	background: #121212;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background: var(--primary-color);
}

input:checked + .slider::before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round::before {
	border-radius: 50%;
}

.fas {
	font-size: 30px;
	margin-right: 5px;
}
